<template>
<v-container class="grey lighten-5 ma-0 pa-0   " fluid >
    <v-row  class="ma-0 pa-0 accent" fluid >
        <v-col md="2" class="ma-0 pa-0 " >
     <v-card
    class="mx-auto"
    height="100vh"
    width="256"
  >
    <v-navigation-drawer
      class="primary white--text accent-4 rounded-0"
      light
      permanent
    >
                     <v-list>

                       <router-link to="/Billetera">
        <v-list-item
          class="secondary--text"
          link
        >
         
          <v-list-item-icon>
            <v-icon color="secondary" >mdi-wallet</v-icon>
          </v-list-item-icon>


          <v-list-item-content>
            <v-list-item-title>Billetera</v-list-item-title>
          </v-list-item-content>
            </v-list-item>
            </router-link>
              <router-link to="/Cuentas">
             <v-list-item
          class="info--text"
          link
        >
         
          <v-list-item-icon>
            <v-icon color="info" >mdi-account-box</v-icon>
          </v-list-item-icon>


          <v-list-item-content>
            <v-list-item-title>Cuentas</v-list-item-title>
          </v-list-item-content>

            </v-list-item>
</router-link>
 <router-link to="/">
             <v-list-item
          class="info--text"
          link
        >
         
          <v-list-item-icon>
            <v-icon color="info" >mdi-logout</v-icon>
          </v-list-item-icon>


          <v-list-item-content>
            <v-list-item-title>Cerrar Sesion</v-list-item-title>
          </v-list-item-content>

            </v-list-item>

     </router-link>

      
      </v-list>
  </v-navigation-drawer>
  </v-card>
</v-col>

<v-col md="10" class="ma-0 pa-0" >

  <div>
    <v-app-bar
      color="primary text-white accent-4 light"
      dense
      
    >
      <v-toolbar-title class=" info--text">
        
            
  <div class="text-center">
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          class=" info--text"
          dark
          v-bind="attrs"
          v-on="on"
        >
           Banco de Venezuela: 20,00 USD
        </v-btn>
      </template>
      <v-list>
        <v-list-item

          v-for="(cuenta, index) in cuentas"
          :key="index"
        >
          <v-list-item-title>{{ cuenta.banco }} - {{ cuenta.tipo}}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
        
       
        
        
        
        </v-toolbar-title>

      <v-spacer></v-spacer>

<v-col >

  <v-row justify="center" >
    
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="700px"
    >
    
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          class="mt-4 mb-4 secondary white--text"
          
          dark
          v-bind="attrs"
          v-on="on"
        >
          Agregar Transaccion
        </v-btn>
      
      </template>


      <v-card>
        <v-form v-model="valid"  ref="form" lazy-validation @submit.prevent="agregarTransaccion" >
        <v-card-title class="ml-6">Agregar Transaccion</v-card-title>
        <v-divider></v-divider>
        <v-card-text >

          

          <v-row class="pt-5">

<v-col md="4">
<div>
         <v-select
          class="rounded-xl"
          v-model="accion"
          :items="acciones"
          outlined
          filled
          label="Accion (Ingreso/Egreso)"
        ></v-select>
</div>
</v-col>

<v-col md="4">
<div>
         <v-select
         class="rounded-xl"
         v-model="categoria"
          :items="categorias"
          outlined
          filled
          label="Categoria"
        ></v-select>
</div>
</v-col>
<v-col md="4">
           <div>
    <v-text-field
    class="rounded-xl"
      v-model="cantidad"
      :rules="cantidadReglas"
      outlined
      filled
      label="Cantidad"
      required
    ></v-text-field>
            </div>

</v-col>
  </v-row>

            <div>
      <v-text-field
      class="rounded-xl"
      v-model="nota"
      :counter="140"
      :rules="notaReglas"
      filled
      outlined
      label="Nota"
      required
    ></v-text-field>
            </div>

        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions justify="end">
          <v-spacer></v-spacer>
          <v-btn
           
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Cancelar
          </v-btn>
          <v-btn
            :disabled="!valid"
            color="blue darken-1"
            text
            @click="validate"
            type="submit"
          >
            Guardar
          </v-btn>
        </v-card-actions>

        </v-form>
      </v-card>
    </v-dialog>
  </v-row>


</v-col>


  



    </v-app-bar>
<v-row justify="center">

<v-col md="8" class="ma-0 mt-4 pt-4" >



  <v-data-table
    :headers="headers"
    :items="transacciones"
    class="elevation-1 mt-4 pt-4"
  >
  
    <template v-slot:items="props">
      
      <td> {{ props.item.id }}</td>
      <td class="text-xs-right">{{ props.item.fecha }}</td>
      <td class="text-xs-right">{{ props.item.accion }}</td>
      <td class="text-xs-right">{{ props.item.categoria }}</td>
      <td class="text-xs-right">{{ props.item.monto }} USD</td>

    </template>

  </v-data-table>


</v-col>

</v-row>

  </div>


</v-col>





    </v-row>
  </v-container>
</template>






<script>

import axios from "axios";

export default {
    name: 'Billetera',
     data () {
      return {
        idcuenta:1,
        accion : '',
        categoria: '',
        cantidad: '',
        nota: '',
        valid: true,
        categorias2: '',
        cantidadReglas: [
                v => !!v || 'La cantidad es requerida',
                v => v <= 999999999999999999999999999999999999 || 'Debe ser un dato numerico',
        ],
        notaReglas: [
                v => !!v || 'La nota es requerida',
                v => v.length <= 140 || 'Menos de 140 caracteres',
        ],
        cuentas: [
          { banco: 'Banco de Venezuela', tipo: 'AHORRO' },
          { banco: 'Banco Mercantil', tipo: 'CORRIENTE' }
        ],
          headers: [
          {
            text: '#',
            align: 'left',
            sortable: false,
            value: 'id'
          },
          { text: 'FECHA', value: 'fecha' },
          { text: 'ACCIÓN', value: 'accion' },
          { text: 'CATEGORÍA', value: 'categoria' },
          { text: 'MONTO', value: 'monto' }
        ],
        transacciones: [
          {
            id: '001',
            fecha: '16/10/2020 - 22:30',
            accion: 'ingreso',
            categoria: 'otros',
            monto: '20,00'
          },
          {
            id: '002',
            fecha: '17/10/2020 - 2:00',
            accion: 'ingreso',
            categoria: 'otros',
            monto: '20,00'
          },
          {
            id: '003',
            fecha: '25/10/2020 - 10:30',
            accion: 'retiro',
            categoria: 'otros',
            monto: '20,00'
          },
          {
            id: '004',
            fecha: '27/10/2020 - 20:30',
            accion: 'ingreso',
            categoria: 'otros',
            monto: '20,00'
          },
        ],
        
        acciones: ['Ingreso', 'Egreso'],
        categorias: ['Alcohol', 'Iglesia', 'Diezmo'],
        dialogm1: '',
        dialog: false,

      }
      },
        methods: {
          validate () {
            this.$refs.form.validate()
        },
          async agregarTransaccion (){
            var payload = {
              id_cuenta: this.idcuenta, 
              tipo_transaccion: this.accion, 
              id_categoria: this.categoria, 
              monto: this.cantidad, 
              nota: this.nota
            };
            await this.axios.post('http://localhost:3000/dashboard/createTransac',payload).then(response => {
                console.log(response);
                dialog = false
            })
            .catch(error => {
                console.log("error");
            })
        }
      },
      mounted (){
        this.axios.get('http://localhost:3000/verificarcategorias')
          .then(function (response) {
            console.log(response.data);
            //this.categorias2= response.data;
            //console.log(this.categorias2);
          })
          .catch(function (errorcategorias) {
            console.log(errorcategorias);
          })
          .then(function () {
            
          });
      }
    }
</script>

