<template>
<v-container class="grey lighten-5 ma-0 pa-0   " fluid >
    <v-row  class="ma-0 pa-0 accent" fluid >
        <v-col md="2" class="ma-0 pa-0 " >
     <v-card
    class="mx-auto"
    height="100vh"
    width="256"
  >
    <v-navigation-drawer
      class="primary white--text accent-4 rounded-0"
      light
      permanent
    >
                     <v-list>

                       <router-link to="/Billetera">
        <v-list-item
          class="info--text"
          link
        >
         
          <v-list-item-icon>
            <v-icon color="info" >mdi-wallet</v-icon>
          </v-list-item-icon>


          <v-list-item-content>
            <v-list-item-title>Billetera</v-list-item-title>
          </v-list-item-content>
            </v-list-item>
            </router-link>
              <router-link to="/Cuentas">
             <v-list-item
          class="secondary--text"
          link
        >
         
          <v-list-item-icon>
            <v-icon color="secondary" >mdi-account-box</v-icon>
          </v-list-item-icon>


          <v-list-item-content>
            <v-list-item-title>Cuentas</v-list-item-title>
          </v-list-item-content>

            </v-list-item>
</router-link>
 <router-link to="/">
             <v-list-item
          class="info--text"
          link
        >
         
          <v-list-item-icon>
            <v-icon color="info" >mdi-logout</v-icon>
          </v-list-item-icon>


          <v-list-item-content>
            <v-list-item-title>Cerrar Sesion</v-list-item-title>
          </v-list-item-content>

            </v-list-item>

     </router-link>


      
      </v-list>
  </v-navigation-drawer>
  </v-card>
</v-col>

<v-col md="10" class="ma-0 pa-0" >

  <div>
    <v-app-bar
      color="primary text-white accent-4 light"
      dense
      
    >
      <v-toolbar-title class=" info--text">
        
            
  <div class="text-center">
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          class=" info--text"
          dark
          v-bind="attrs"
          v-on="on"
        >
           Banco de Venezuela: 20,00 USD
        </v-btn>
      </template>
      <v-list>
        <v-list-item

          v-for="(cuenta, index) in cuentas"
          :key="index"
        >
          <v-list-item-title>{{ cuenta.banco }} - {{ cuenta.tipo}}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
        
       
        
        
        
        </v-toolbar-title>

      <v-spacer></v-spacer>






    </v-app-bar>
<v-row justify="center">

<v-col md="8" class="ma-0 mt-4 pt-4" >

    <v-card
  elevation="9"
  outlined


> 
<v-card-title class="secondary--text">
     <v-icon class="mr-3" color="secondary" >mdi-account</v-icon>  TUS CUENTAS
</v-card-title>
 
<v-row  v-for="(cuenta, index) in cuentas"
          :key="index" class="pt-0 ">



  <v-col md="5 text-center">
    <v-card-subtitle class="ml-3 pt-0 ">{{ cuenta.banco }} - {{ cuenta.tipo}}</v-card-subtitle>
  </v-col>
  <v-col md="2 secondary--text ">
    <v-card-subtitle class="ml-3 pt-0 ">{{ cuenta.dinero }} $</v-card-subtitle>
  </v-col>
  <v-spacer></v-spacer>
  <v-col md="3" class=" mt-2 pt-0 ">
     <v-btn class="pl-0 pr-0">
     <v-icon class="mr-0" color="black" >mdi-delete</v-icon>
     </v-btn>
      <v-btn class="pl-0 pr-0">
    <v-icon color="black" >mdi-pencil</v-icon>
    </v-btn>
  </v-col>

</v-row>

<v-row justify="center" class="pb-4 mb-4">

  

<v-col >

  <v-row justify="center" >
    
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="700px"
    >
    
      <template v-slot:activator="{ on, attrs }">
 


        <v-btn
          color="accent  black--text"
          v-bind="attrs"
          v-on="on"
        >
        <v-icon class="mr-2 " >mdi-account-plus</v-icon>
        Agregar
      </v-btn>



      </template>


      <v-card>
        <v-card-title>Añadir cuenta</v-card-title>
        <v-divider></v-divider>
        <v-card-text >

          <v-row class="pt-5" >

<v-col md="12">
<div>
      <v-select
         class="rounded-xl"
          :items="bancos"
          v-model="nombrebanco"
          outlined
          filled
          label="Nombre de la cuenta"
        ></v-select>
    
</div>
</v-col>

<v-col md="4">
<div>
         <v-select
         class="rounded-xl"
          :items="tiposcuenta"
          v-model="tipocuenta"
          outlined
          filled
          label="Tipo de cuenta"
        ></v-select>
</div>
</v-col>

  </v-row>


        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions justify="end">
          <v-spacer></v-spacer>
          <v-btn
           
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>


</v-col>


      

</v-row>



</v-card>



</v-col>

</v-row>

  </div>


</v-col>





    </v-row>
  </v-container>
</template>



<script>
export default {
    name: 'Cuentas',
     data () {
      return {
        cuentas: [
          { banco: 'Banco de Venezuela', tipo: 'AHORRO' , dinero:'20,00'},
          { banco: 'Banco Mercantil', tipo: 'CORRIENTE' , dinero:'0,00'}
        ],

        dialogm1: '',
        dialog: false,
        nombrebanco: '',
        tipocuenta: '',
        tiposcuenta: ['Ahorro', 'Corriente'],
        bancos: ['Banco Central de Venezuela','Banco de Venezuela','Banco Venezolano de Crédito','Banco Mercantil',
        'BBVA Provincial','Bancaribe','Banco Exterior','B.O.D.','Banco Caroní','Banesco','Banco Sofitasa',
        'Banco Plaza','Bangente','BFC Banco Fondo Común','100% Banco','DELSUR Banco Universal','Banco Del Tesoro',
        'Banco Agrícola de Venezuela','Bancrecer','Mi Banco','Banco Activo','Bancamiga','Banco Internacional de Desarrollo',
        'Banplus','Banco Bicentenario del Pueblo','Banfanb','Citibank','Banco Nacional de Crédito (BNC)',
        'Instituto Municipal de Crédito Popular']
      }
     }
}
</script>















