<template>
 
    
    <v-container class="accent "  style="height:100vh" fluid> 
        <v-row justify="center" style="height:100%" class="align-center " align-self="center" align="center">
            <v-col sm="5" >
                <v-card  class=" white rounded-lg  " > 
                <v-row justify="center" class="pt-0 pb-0" >
                    <v-col sm="3" class="pt-3 pb-0">
                        <v-img
                         src="../assets/logo.png"
                         >  
                        </v-img>
                    </v-col>
                </v-row>
                <v-row class="pb-3" justify="center">

                    
                        <v-card-title class="text-h6 font-weight-medium   lighten-2  text-center ">
                            INGRESAR
                        </v-card-title>
    
                </v-row>
                
                <v-form  ref="form" v-model="valid" @submit.prevent="iniciarSecion" lazy-validation>
                    <v-row justify="center">
                    <v-col sm="6"  >
                        <v-text-field
                        class="rounded-lg"
                        v-model="email"
                        :rules="emailReglas"
                        filled
                        dense
                        outlined
                        label="E-mail"
                        required
                        ></v-text-field>
                    </v-col>
                    
                    </v-row>
                    
                    <v-row justify="center"> 

                    <v-col sm="6" class="pt-0 pb-0">
                        
                    <v-text-field
                    :append-icon="contrasenaMostrar ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="contrasenaReglas"
                    :type="contrasenaMostrar ? 'text' : 'password'"
                    v-model="contrasena"
                    filled
                    dense
                    outlined
                
                    label="Contraseña"
                    
                    class="input-group--focused rounded-lg"
                    @click:append="contrasenaMostrar = !contrasenaMostrar"
                    ></v-text-field>

                    <v-card-text class="pt-0 mt-0" >  <router-link to="/OlvidoClave"> Olvide mi contraseña </router-link>
                    </v-card-text>

                    </v-col>
                
                </v-row>
               


              <v-row  justify="center" class="pb-3">

                  <v-col md="6" class="mb-0 pb-0">
                      <v-btn
                      block
                    :disabled="!valid"
                    color="secondary"
                    class="white--text"
                    @click="validate"
                    type="submit"
                    >
                    Ingresar
                    </v-btn>

                      <v-card-text class="pt-3 mt-0" >¿No tienes una cuenta? 
                          <router-link to="/Registrarse"> Registrate </router-link>
                    </v-card-text>

                  </v-col >
                    

              </v-row>

               
                </v-form>

                </v-card>
                    <v-alert type="success" dense v-if="alerta" class="float-center pt-1 pb-1 mt-0 mb-0" >
                        {{mensaje}}
                        </v-alert>
                    <v-alert type="error" dense v-if="alerta2" class="float-center pt-1 pb-1 mt-0 mb-0" >
                        {{mensaje}}
                    </v-alert>
            </v-col>

        </v-row>
        
    </v-container>



</template>

<script>
import axios from "axios";

  export default {
    name: 'Login',
    data () {
        return {
            valid: true,
            email: '',
            contrasenaMostrar: false,
            contrasena: '',
            alerta: false,
            alerta2: false,
            mensaje:'',
            token:'',
            emailReglas: [
                v => !!v || 'Ingrese su E-mail',
            ],
            contrasenaReglas: [
                 v => !!v || 'Ingrese su contraseña',
            ],
        }
    },

    methods: {
        validate () {
            this.$refs.form.validate()
        },
        async iniciarSecion (){
            var payload = {
                Email: this.email,
                contraseña: this.contrasena
            };
            await this.axios.post('http://localhost:3000/login',payload).then(response => {
                console.log(response.data);
                console.log(response.data.msg);
                this.mensaje = response.data.msg;
                this.token = response.data.token;
                this.alerta = true;
                this.alerta2 = false;
                this.timeout ()
            })
            .catch(error => {
                console.log(error.response.data.msg);
                this.mensaje = error.response.data.msg;
                this.alerta2 = true;
            })
        },
        timeout(){
                setTimeout(  ()=>{
                    this.$router.push({ path: 'Billetera' })
            },1500);
        },
    }
  }
</script>