<template>
    <div>
        <v-card>
            <v-card-title>
                Le enviamos un email
            </v-card-title>
        </v-card>
    </div>
</template>

<script>
export default {
    name:'OlvidoClave',
    data () {
        return {
            
        }
    }
}
</script>