<template>
    <v-container>
        <v-layout>
            <v-col>
    
  <div class="text-center">
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
        >
          Dropdown
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          v-for="(item, index) in items"
          :key="index"
        >
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>

            </v-col>

<v-col>
  <button @click="showAlert">Hello world</button>
</v-col>


            <v-col>

                 <v-card
    class="mx-auto"
    height="610"
    width="256"
  >
    <v-navigation-drawer
      class="primary white--text accent-4"
      light
      permanent
    >
                     <v-list>


        <v-list-item
          class="info--text"
          link
        >
         
          <v-list-item-icon>
            <v-icon color="info" >mdi-wallet</v-icon>
          </v-list-item-icon>


          <v-list-item-content>
            <v-list-item-title>Billetera</v-list-item-title>
          </v-list-item-content>

            </v-list-item>

             <v-list-item
          class="info--text"
          link
        >
         
          <v-list-item-icon>
            <v-icon color="info" >mdi-account-box</v-icon>
          </v-list-item-icon>


          <v-list-item-content>
            <v-list-item-title>Cuentas</v-list-item-title>
          </v-list-item-content>

            </v-list-item>

             <v-list-item
          class="info--text"
          link
        >
         
          <v-list-item-icon>
            <v-icon color="info" >mdi-logout</v-icon>
          </v-list-item-icon>


          <v-list-item-content>
            <v-list-item-title>Cerrar Sesion</v-list-item-title>
          </v-list-item-content>

            </v-list-item>

     

      
      </v-list>
  </v-navigation-drawer>
  </v-card>
            </v-col>

<v-col >

  <v-row justify="center" >
    
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="700px"
    >
    
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
        >
          Agregar Transaccion
        </v-btn>
      
      </template>


      <v-card>
        <v-card-title>Agregar Transaccion</v-card-title>
        <v-divider></v-divider>
        <v-card-text >

          <v-row class="pt-5">

<v-col md="4">
<div>
         <v-select
          class="rounded-xl"
          :items="acciones"
          outlined
          filled
          label="Accion (Ingreso/Egreso)"
        ></v-select>
</div>
</v-col>

<v-col md="4">
<div>
         <v-select
         class="rounded-xl"
          :items="categorias"
          outlined
          filled
          label="Categoria"
        ></v-select>
</div>
</v-col>
<v-col md="4">
           <div>
    <v-text-field
    class="rounded-xl"
      v-model="cantidad"
      :rules="nameRules"
      outlined
      filled
      label="Cantidad"
      required
    ></v-text-field>
            </div>

</v-col>
  </v-row>

            <div>
      <v-text-field
      class="rounded-xl"
      v-model="nota"
      :counter="140"
      :rules="nameRules"
      filled
      outlined
      label="Nota"
      required
    ></v-text-field>
            </div>

        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions justify="end">
          <v-spacer></v-spacer>
          <v-btn
           
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>


</v-col>




<v-col >

  <v-row justify="center" >
    
    <v-dialog
      v-model="dialog3"
      scrollable
      max-width="700px"
    >
    
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
        >
          Añadir 
        </v-btn>
      
      </template>


      <v-card>
        <v-card-title>Añadir cuenta</v-card-title>
        <v-divider></v-divider>
        <v-card-text >

          <v-row class="pt-5" >

<v-col md="12">
<div>
      <v-text-field
      class="rounded-xl"
      v-model="nombrecuenta"
      :counter="60"
      :rules="nameRules"
      filled
      outlined
      label="Nombre de la cuenta"
      required
    ></v-text-field>
</div>
</v-col>

<v-col md="4">
<div>
         <v-select
         class="rounded-xl"
          :items="tipocuenta"
          outlined
          filled
          label="Tipo de cuenta"
        ></v-select>
</div>
</v-col>

  </v-row>


        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions justify="end">
          <v-spacer></v-spacer>
          <v-btn
           
            color="blue darken-1"
            text
            @click="dialog3 = false"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog3 = false"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>





</v-col>

<v-col>

  <div >
    <v-dialog
      v-model="dialog2"
      width="500"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="red lighten-2"
          dark
          v-bind="attrs"
          v-on="on"
        >
          Click Me
        </v-btn>
      </template>

      <v-card>
        
        <v-row justify="center pt-2 pb-2">

        <v-card-title class="text-h5 font-weight-bold   lighten-2  text-center " >
          Detalles de la Transaccción
        </v-card-title>
        </v-row>
        <v-divider></v-divider>

        <v-row class="pl-2 pr-2">
            <v-col class="pt-0 pb-0 mt-0 mb-0" md="7">
              <v-card-text class="text-body-1 font-weight-medium pb-1">
                Numero de transacción:
              </v-card-text>
            </v-col>
            <v-spacer class="pt-0 pb-0 mt-0 mb-0"></v-spacer>
             <v-col class="pt-0 pb-0 mt-0 mb-0">
              <v-card-text class="text-end text-body-1 secondary--text font-weight-medium pb-1">
                001
              </v-card-text>
            </v-col>
        </v-row>
                <v-row class="pl-2 pr-2">
            <v-col class="pt-0 pb-0 mt-0 mb-0">
              <v-card-text  class="text-body-1 font-weight-medium pb-1">
                Fecha:
              </v-card-text>
            </v-col>
            <v-spacer class="pt-0 pb-0 mt-0 mb-0"></v-spacer>
             <v-col class="pt-0 pb-0 mt-0 mb-0">
              <v-card-text class="text-end text-body-1 secondary--text font-weight-medium pb-1">
                16/10/2020
              </v-card-text>
            </v-col>
        </v-row>
                        <v-row class="pl-2 pr-2">
            <v-col class="pt-0 pb-0 mt-0 mb-0">
              <v-card-text  class="text-body-1 font-weight-medium pb-1">
                Acción:
              </v-card-text>
            </v-col>
            <v-spacer class="pt-0 pb-0 mt-0 mb-0"></v-spacer>
             <v-col class="pt-0 pb-0 mt-0 mb-0">
              <v-card-text class="text-end text-body-1 secondary--text font-weight-medium pb-1">
                Ingreso
              </v-card-text>
            </v-col>
        </v-row>
                <v-row class="pl-2 pr-2">
            <v-col class="pt-0 pb-0 mt-0 mb-0">
              <v-card-text  class="text-body-1 font-weight-medium pb-1">
                Categoria:
              </v-card-text>
            </v-col>
            <v-spacer class="pt-0 pb-0 mt-0 mb-0"></v-spacer>
             <v-col class="pt-0 pb-0 mt-0 mb-0">
              <v-card-text class="text-end text-body-1 secondary--text font-weight-medium pb-1">
                Otros
              </v-card-text>
            </v-col>
        </v-row>
                        <v-row class="pl-2 pr-2">
            <v-col class="pt-0 pb-0 mt-0 mb-0">
              <v-card-text  class="text-body-1 font-weight-medium pb-1">
                Monto:
              </v-card-text>
            </v-col>
            <v-spacer class="pt-0 pb-0 mt-0 mb-0"></v-spacer>
             <v-col class="pt-0 pb-0 mt-0 mb-0">
              <v-card-text class="text-end text-body-1 secondary--text font-weight-medium pb-1">
                20.00 USD
              </v-card-text>
            </v-col>
        </v-row>
                        <v-row class="pl-2 pr-2">
            <v-col class="pt-0 pb-0 mt-0 mb-0">
              <v-card-text  class="text-body-1 font-weight-medium ">
                Nota:
              </v-card-text>
            </v-col>
            <v-spacer class="pt-0 pb-0 mt-0 mb-0"></v-spacer>
             <v-col class="pt-0 pb-0 mt-0 mb-0">
              <v-card-text class="text-end text-body-1 secondary--text font-weight-medium ">
                INFORMACION
              </v-card-text>
            </v-col>
        </v-row>
        





        <v-card-actions>
          <v-row justify="center" class="pt-1 pb-1 mt-0 mb-0">
          <v-btn
            class="secondary rounded-lg"
            color="white"

            text
            @click="dialog2 = false"
          >
             Aceptar
          </v-btn>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>


</v-col>


        </v-layout>
    </v-container>
</template>

<script>


export default {
    name: 'Pruebas',
    data () {
      return {
        items: [
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me 2' }
      ],
        acciones: ['Ingreso', 'Egreso'],
        categorias: ['Putas', 'Alcohol', 'Iglesia', 'Diezmo'],
        dialogm1: '',
        dialog: false,
        dialog2: false,
        dialog3: false,
        nota: '',
        cantidad: 0,
        nombrecuenta: '',
        tipocuenta: ['Ahorro', 'Corriente'],

      }
    },
    methods: {
    showAlert() {
      // Use sweetalert2
      this.$swal.fire({
  title: 'Oops...',
  text: 'Something went wrong!',
  footer: '<a href="">Why do I have this issue?</a>'
      }

)
    },
  },
}
</script>